@tailwind base;
@tailwind components;
@tailwind utilities;

.ProseMirror code {
  font-family: monospace;
  font-size: 0.875em;
  background-color: #33271880;
  color: var(--color-gold-light);
  padding: 0.1em 0.35em;
  border-radius: 4px;
}

.ProseMirror h1 {
  font-family: monospace;
  font-size: 2em;
  background-color: #33271880;
  color: var(--color-gold-light);
  padding: 0.1em 0.35em;
  border-radius: 4px;
}

html, body, #root {
  background: transparent;
  height: 100%;

  --color-gold: #bd8724;
  --color-brown: #332718;
  --color-brown-secondary: #5e472c;
  --color-brown-bg: #bd9b74;
  --color-bg: #1a1008;
  --color-gold-light: #ffe8a0;
}
